<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <application android:allowBackup="true" android:label="Najm Space" android:icon="@mipmap/ic_launcher" android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen">
        <provider
            android:name=".ApkProvider"
            android:authorities="com.najmspace.app.apkprovider"
            android:exported="false"
            android:grantUriPermissions="true"/>
        <activity android:name=".PermissionActivity" android:screenOrientation="landscape"/>
        <activity android:name=".InternalBrowserActivity" android:screenOrientation="landscape"/>
        <activity android:name=".NajmYouTubeActivity" android:screenOrientation="landscape" android:hardwareAccelerated="true"/>
        <activity android:name=".MiniAppRuntimeActivity" android:screenOrientation="landscape"/>
        <activity android:name=".RuntimeManagerActivity" android:screenOrientation="landscape"/>
        <activity android:name=".NajmRecentsActivity" android:screenOrientation="landscape"/>
        <activity android:name=".NajmFileManagerActivity" android:screenOrientation="landscape"/>
        <activity android:name=".StoragePickerActivity" android:screenOrientation="landscape"/>
        <activity android:name=".NajmAppsActivity" android:screenOrientation="landscape"/>
        <activity android:name=".AppsActivity" android:screenOrientation="landscape"/>
        <activity android:name=".ControlCenterActivity" android:screenOrientation="landscape"/>
        <activity android:name=".NajmSettingsActivity" android:screenOrientation="landscape"/>
        <activity android:name=".CompatibilityActivity" android:screenOrientation="landscape"/>
        <activity android:name=".SplashActivity" android:exported="true" android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" android:exported="true" android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.HOME"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
